

@media screen and (max-width: 767px){

   body {
      overflow-x: hidden;
   }

   /*header-nav*/

   .navbar-brand {
      margin-left: 0px;
   }

   /*plan your life section*/

   .plan-section {
      background-image: none;
      background-color: #F5F8FF;
      height: 280px;
   }

   .increase-productivity-text {
      font-size: 30px;
      line-height: 35px;
      text-align: center;
   }

   .brute-text1 {
      font-size: 11px;
      width: 78%;
      margin-left: 7%;
      text-align: center;  
   }

   /*desktop and mobile app section*/

   .desktop-mobile-section {
      background-image: none;
      background-color: #F5F8FF;
      height: 550px;
   }

   .desktop-mobile-text {
      margin-top: 50px;
      margin-left: 50px;
      width: 200%;
   }

   .plan-manage-text {
      font-size: 25px;
   }

   .view-video-btn {
      padding: 14px 22px;
      margin-left: -20px;
   }

   /*about-us section*/
   .about-us-section {
      background-image: url(../img/clouds.png);
      background-repeat: no-repeat;
      background-size: 100%;
      height: 100%;
      margin-bottom: 80px;
   }
   /*stat-section*/
   .stats {
      height: 100%;
   }


   .nav-stat {
      margin-bottom: 15px;
      margin-top: 50px;
      margin-left: 52%;
     
   }

   .percentage {
      font-size: 32px;
      line-height: 60px;
      margin-left: 50%;
   }

   .customer-text {
      margin-top: -10px;
      font-size: 17px;
      line-height: 19px;
      margin-left: 34%
   }

   .productivity-text {
      margin-top: -15px;
      font-size: 17px;
      line-height: 19px;
      margin-left: 32%

   }

   .users-img {
      margin-top: 50px;
   }

   .users-no {
      font-size: 35px;
      line-height: 60px;
   }

   .users-app-text {
      font-size: 18px;
      line-height: 18px;
      margin-top: -5px;
      width: 60%;
   }

   /*slideshow*/

   .slide-img {
      margin-top: 25%;
   }

   #slide1:checked ~ #controls label:nth-child(2),
   #slide2:checked ~ #controls label:nth-child(3),
   #slide4:checked ~ #controls label:nth-child(1) {
      display: none;
   }

   /*testimonials*/

   .testimonials-text {
      margin-left: 0px;
      margin-top: 80px;
      text-align: center;
   }

   .testimonials h3 {
      font-size: 29px;
      line-height: 30px;
   }

   .testimonials p {
      width: 100%;
      font-size: 12px;
      line-height: 23px;
   }

   .testimonials-img {
      display: none;
   }

   .testimonials-mobile-img {
      display: block;
      width: 100%;
   }

   /*faq-section*/

   .faq-section {
      width: 95%;
      margin-bottom: 100px;
   }

   /*get-started section*/

   .blue-section {
      background-image: url(../img/getstarted.png);
      background-repeat: no-repeat;
      background-size: cover;
      height: 500px;
   }

   .blue-section h6 {
      margin-top: 14%;
   }

   .blue-section h2 {
      font-size: 36px;
      margin-bottom: 10px;
   }

   .blue-section p {
      font-size: 15px;
      line-height: 30px;
      letter-spacing: 0.03em;
      color: #FFFFFF;
      width: 100%;
      margin-left: 0px;
   }

   .view-pricing-btn {
      padding: 14px 55px;
      margin-left: -5px;
      margin-bottom: 10px;
   }

   /*newsletter section*/

   .newsletter-section {
    background-color: #FCFDFF;
    height: 420px;
    border-bottom: 1px solid gainsboro;

   }

   .newsletter {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 75px;
   }

      .newsletter input {
      padding: 17px 0px 18px 0px;
      width: 90%;
      text-align: center;
      margin-left: 0px;
      margin-top: 10px;
      margin-bottom: 10px;
   }

   .newsletter button {
      padding: 17px 0px;
      width: 90%;
      margin-left: 0px;
   }

   /*footer-nav*/

   .footer-nav-brand {
      margin-top: -100px;
   }

   .footer-nav-menu {
      margin-left: 30px;
   }

   .footer-nav-socials {
      display: flex;
      flex-direction: row;
      margin-left: 25px;
      margin-top: 20px;
   }




}







/*@media screen and (max-width: 900px) {
   #slide1:checked ~ #controls label:nth-child(2),
   #slide2:checked ~ #controls label:nth-child(3),
   #slide4:checked ~ #controls label:nth-child(1),
   #slide1:checked ~ #controls label:nth-last-child(2),
   #slide2:checked ~ #controls label:nth-last-child(3),
   #slide4:checked ~ #controls label:nth-last-child(1) {
      margin: 0;
   }
   #slides {
      max-width: calc(100% - 140px);
      margin: 0 auto;
   }
}
